.container {
  background-color: rgb(59, 59, 78);
  display: block;
  margin: 0 auto;
  font-weight: 400;
  height: 1200px;
  line-height: 22.1px;
  width: 1050px;
  border-radius: 5px;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
}
.info {
  background-color: rgb(39, 39, 51);
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
  background-origin: padding-box;
  box-shadow: rgba(131, 131, 170, 0.2) 0px 3px 8px 0px;
  box-sizing: border-box;
  color: rgb(206, 115, 54);
  display: block;

  font-size: 13px;

  height: 1150px;
  line-height: 22.1px;
  width: 290px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  position: fixed;
  text-align: left;
}
.photo {
  border-radius: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
}
.education {
  background-origin: padding-box;
  box-sizing: border-box;
  color: rgb(206, 115, 54);
  position: relative;
  width: 700px;
  left: 320px;
  padding-top: 30px;
}
h3,
h5 {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 40px;
}
.card {
  width: 90%;
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  background-color: rgb(39, 39, 51);
  letter-spacing: 0.25px;
  text-size-adjust: 100%;
  border-radius: 5px;
  display: block;
  color: rgb(196, 196, 199);
}
.grid-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.course-description {
  margin: 10px;
}
.course {
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
}
strong {
  margin-left: 5px;
}
h4 {
  text-align: center;
  margin-top: 5px;
}
a {
  font-size: 17px;
  color: #ebedee;
}
